.wrapper {
  position: relative;
}

.spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}